<!DOCTYPE html>{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    {% include '_page-device-fit-meta.html' %}

    {% include '_page-social-meta.html' %}

    {% include '_page-common-styles.html' %}

    {% include '_page-icons-meta.html' %}

    <title>Блог о звездах и космосе</title>

    <style type="text/css">
      .carousel-item-img {
        max-width: 100%;
      }

      .carousel-caption a {
        color: white;
      }
    </style>
  </head>
  <body>
    {% include '_page-navbar.html' %}

    <main id="panel">
      <div id="panel-content">
        {% include '_page-mobile-navbar.html' %}

        <div class="container">
          <div class="row">
            <div class="col-12">

              <div id="headerCarousel" class="carousel slide mb-4" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#headerCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#headerCarousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://picsum.photos/1600/900/?image=931" alt="" class="carousel-item-img"/>
                    <div class="carousel-caption d-none d-md-block">
                      <h5><a href="/post">Suspendisse Eget Mollis Erat Morbi Fermentum Bibendum Purus</a></h5>
                      <p>...</p>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="https://picsum.photos/1600/900/?image=911" alt="" class="carousel-item-img"/>
                    <div class="carousel-caption d-none d-md-block">
                      <h5><a href="/post">Ligula Ac Dapibus Auctor Velit Nisl Rutrum Ipsum</a></h5>
                      <p>...</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Назад</span>
                </a>
                <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Вперед</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="/post"><img class="card-img-top lazy" src="https://picsum.photos/1600/900/?image=830" alt="" /></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/post">Ac Rutrum Velit Neque Eget Neque Proin</a>
                  </h4>
                  <small class="post-meta"><a href="/post">John Doe</a>, <a href="/category">Nature &amp; Culture</a>, <a href="/post">2 days ago</a></small>
                  <p class="card-text">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex. Donec condimentum maximus velit vitae dictum. Curabitur sed neque ultrices orci malesuada pharetra.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="/post"><img class="card-img-top lazy" src="https://picsum.photos/1600/900/?image=810" alt="" /></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/post">Lacus Non Leo Varius Dictum At Ut Dolor Donec Malesuada Dolor Eu Ex Euismod Ultricies</a>
                  </h4>
                  <small class="post-meta"><a href="/post">John Doe</a>, <a href="/category">Nature &amp; Culture</a>, <a href="/post">2 days ago</a></small>
                  <p class="card-text">Nunc velit eros, consequat et tempus eu, dapibus ut turpis. Donec eget massa vel lorem congue.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="/post"><img class="card-img-top lazy" src="https://picsum.photos/1600/900/?image=723" alt="" /></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/post">Vivamus Pretium Magna Mi Ac Finibus Mauris Gravida</a>
                  </h4>
                  <small class="post-meta"><a href="/post">John Doe</a>, <a href="/category">Nature &amp; Culture</a>, <a href="/post">2 days ago</a></small>
                  <p class="card-text">Venenatis a non sapien. Duis diam nunc, pretium et mi ac, convallis dictum erat. Quisque ut eros quis libero bibendum varius. Praesent accumsan rutrum feugiat.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="/post"><img class="card-img-top lazy" src="https://picsum.photos/1600/900/?image=721" alt="" /></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/post">Fusce Pellentesque Mauris Eget Pretium Elementum Elit Leo Dictum Urna Non Fermentum Quam</a>
                  </h4>
                  <small class="post-meta"><a href="/post">John Doe</a>, <a href="/category">Nature &amp; Culture</a>, <a href="/post">2 days ago</a></small>
                  <p class="card-text">Nullam tempus, magna nec tincidunt lacinia, turpis odio placerat lectus, non mattis arcu risus non est.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="/post"><img class="card-img-top lazy" src="https://picsum.photos/1600/900/?image=715" alt="" /></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/post">Eros Vitae Quam Aliquam Aliquet</a>
                  </h4>
                  <small class="post-meta"><a href="/post">John Doe</a>, <a href="/category">Nature &amp; Culture</a>, <a href="/post">2 days ago</a></small>
                  <p class="card-text">Ut placerat nulla ut odio congue malesuada. Nulla rutrum arcu elit, id interdum nisl posuere non. Sed scelerisque mollis est ut sagittis. Vivamus suscipit.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="/post"><img class="card-img-top lazy" src="https://picsum.photos/1600/900/?image=681" alt="" /></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/post">Ex Non Faucibus Rhoncus Nibh Sapien Vehicula Erat Et Pulvinar Turpis Leo Non Risus</a>
                  </h4>
                  <small class="post-meta"><a href="/post">John Doe</a>, <a href="/category">Nature &amp; Culture</a>, <a href="/post">2 days ago</a></small>
                  <p class="card-text">Justo quis bibendum ornare, mauris enim sagittis nisi, non accumsan erat arcu vel magna. In vel massa euismod, aliquet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include '_page-footer.html' %}
      </div>
    </main>

    {% include '_page-common-js.html' %}
  </body>
</html>
